<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/utilities/bsb-overlay/bsb-overlay.css">
    <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/utilities/background/background.css">
    <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/utilities/margin/margin.css">
    <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/utilities/padding/padding.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card border border-dark rounded shadow-sm overflow-hidden">
                <div class="card-body p-0">
                    <div class="row gy-3 gy-md-4 gy-lg-0 justify-content-center align-items-center">
                        <div class="col-12 col-lg-6">
                            <div class="row align-items-lg-center h-100">
                                <div class="col-12">
                                    <form action="/return">
                                        <div class="row gy-4 gy-xl-5 p-4 p-xl-5">
                                            <div class="col-12">
                                                <label for="firstname" class="form-label">ID Card <span
                                                        class="text-danger">*</span></label>
                                                <input type="text" class="form-control" id="firstname"
                                                       name="id" required>
                                            </div>
                                            <div class="col-12">
                                                <div class="d-grid">
                                                    <button class="btn btn-primary btn-lg badge rounded-pill bg-warning"
                                                            type="submit">Return Book
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="d-grid">
                                                    <a class="btn bsb-btn-5xl btn-dark rounded-pill px-5 fs-6 m-0"
                                                       href="/"
                                                       role="button">Back to Home</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>