<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/dist/css/bootstrap.min.css}">
    <style>
        .form-control {
            width: 100%;
            height: 100%;
            resize: none;
            border: none;
            box-shadow: none;
        }

        .form-control:focus {
            outline: none;
        }
    </style>
</head>
<body>
<form th:object="${blogDTO}" action="/blog-category/save" method="post" class="container">
    <table class="table">
        <tr>
            <th class="w-100">
                <label class="w-100">
                    <select name="category" class="form-control w-100">
                        <option th:each="category : ${categories}"
                                th:value="${category.id}"
                                th:text="${category.name}">
                        </option>
                    </select>
                </label>
            </th>
        </tr>
        <tr>
            <th class="w-100"><label class="w-100">
                <input type="text" th:field="*{title}" class="form-control w-100" placeholder="Title">
            </label></th>
        </tr>
        <tr>
            <th class="w-100"><label for="myTextarea" class="w-100"></label><textarea id="myTextarea" th:field="*{content}" class="form-control w-100"
                                                          rows="1"
                                                          oninput="autoResize(this)" placeholder="Content"></textarea></th>
        </tr>
        <tr>
            <th>
                <button type="submit" class="btn btn-warning">Save</button>
            </th>
        </tr>
    </table>
</form>
<script th:src="@{/dist/js/bootstrap.bundle.min.js}"></script>
<script>
    function autoResize(textarea) {
        textarea.style.height = 'auto';
        textarea.style.height = (textarea.scrollHeight) + 'px';
    }

    document.addEventListener('DOMContentLoaded', function () {
        const textarea = document.getElementById('myTextarea');
        autoResize(textarea);
    });
</script>
</body>
</html>
